.form {
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 400px) {
    .form {
        width: 90%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .form {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    .form {
        width: 70%;
    }
}


@media only screen and (min-width: 800px) {
    .form {
        width: 40%;
    }
}

.header {
    padding: 10px 10px 7px 10px;
    background: #f6f6fd;
    box-shadow: 0px 15px 15px -15px #dddde7;
}

.header-heading {
    padding-top: 10px;
}

.mr-2 {
    margin-right: 10px;
}

.text-right {
    text-align: right;
}

.content {
    margin: 15px;
    padding: 15px 10px 15px 10px;
    border: 1px solid #faf3f3;
    border-radius: 10px;
}

.content-heading {
    padding-top: 7px;
}

.transactions {
    margin: 15px;
    padding: 15px 10px 15px 10px;
    border: 1px solid #faf3f3;
    border-radius: 10px;
}